<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="InternalJobInfo">
    <th mat-header-cell *matHeaderCellDef> Internal Job Info - Department "Combo" </th>
    <td mat-cell *matCellDef="let element"> {{element.InternalJobInfo}} </td>
  </ng-container>

  <ng-container matColumnDef="Ethnicity">
    <th mat-header-cell *matHeaderCellDef> Ethnicity </th>
    <td mat-cell *matCellDef="let element"> {{element.Ethnicity}} </td>
  </ng-container>

  <ng-container matColumnDef="EMEA">
    <th mat-header-cell *matHeaderCellDef> EMEA </th>
    <td mat-cell *matCellDef="let element"> {{element.EMEA}} </td>
  </ng-container>

  <ng-container matColumnDef="AMEC">
    <th mat-header-cell *matHeaderCellDef> AMEC </th>
    <td mat-cell *matCellDef="let element"> {{element.AMEC}} </td>
  </ng-container>

  <ng-container matColumnDef="APAC">
    <th mat-header-cell *matHeaderCellDef> APAC </th>
    <td mat-cell *matCellDef="let element"> {{element.APAC}} </td>
  </ng-container>

  <ng-container matColumnDef="SWISS">
    <th mat-header-cell *matHeaderCellDef> SWISS </th>
    <td mat-cell *matCellDef="let element"> {{element.SWISS}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <td colspan="999" mat-cell *matCellDef="let group">
      <mat-icon [style.paddingLeft.ex]="((group.level-1) * 1)" style="padding-right: 1ex;">
        {{group.expanded ? 'expand_less' : 'expand_more'}}
      </mat-icon>
      <strong>{{group.name}} = {{group.value}}</strong>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: matGroupBy.isGroup" (click)="matGroupBy.toggleExpanded(row)"> </tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
