table {
  width: 100%;
}

td.mat-cell {
  padding: 4px 10px;
}

tr.mat-row {
  height: 40px;
}

td {
  font-size: 12px;
  text-align: right;


}

th {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  padding-right: 1ex;

  &.mat-header-cell {
    text-align: center;
  }
}


.mat-icon {
  vertical-align: middle;
  padding-bottom: 3px;
 }
